<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<img src="/static/lightbulb.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

<img src="/static/lightbulb.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    
<img src="/static/puzzle.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

<img src="/static/puzzle.png" class="rounded float-start" width = "200" hieght= "200" alt="...">   
<h1 class="display-4 text-center ">About Me</h1>
<br><br><br><br><br><br>
<div class="row">
    <div class="col-5 mx-5 my-5 border border-5">
        <h1 class="display-5 text-center">Who am I?</h1>
        <p>My name is Billy Pham. I am in the Computer Science Academy. I made this website because I want to help students develop their critical thinking skills. </p>
            <img src="/static/puzzle.png" class="rounded float-end" width = "200" height= "" alt="...">

            <img src="/static/puzzle.png" class="rounded float-start" width = "200" height= "" alt="...">    

    </div>
    <div class="col-5 mx-5 my-5 border border-5">
        <h1 class="display-5 text-center">My App</h1>
        <p>My app will be challening in a fun way. Studies show that people learn better when they are having fun since are more engaged. Hopefully this app will make people smarter.</p>
            <img src="/static/puzzle.png" class="rounded float-end" width = "200" height= "" alt="...">

            <img src="/static/puzzle.png" class="rounded float-start" width = "200" height= "" alt="..."> 
    </div>
{% endblock %}