{% extends 'base.html' %}

{% block body %}
<img src="/static/puzzle.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
<img src="/static/puzzle.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>
<br><br>
<div class="row">
    <div class="col-4">
        <h1 class="display-1">Puzzles</h1>
    </div>
    <div class="col">
        <a href="/puzzle/new" class="btn btn-primary btn-sm mt-5" role="button">Start Puzzle</a>
    </div>
</div>

{% if puzzles %}
    {% for puzzle in puzzles %}
        <div class="row border-bottom">
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-5">Date</h3>
                {% endif %}

                <a href="/puzzle/{{puzzle.id}}">
                    {{moment(puzzle.create_date).calendar()}}
                </a>
            </div>
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-5">User</h3>
                {% endif %}
                {{puzzle.author.fname}} {{puzzle.author.lname}}
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3 class="display-5">Solved</h3>
                {% endif %}
                {{puzzle.name}}
            </div>
        </div>
    {% endfor %}
{% else %}

{% endif %}

{% endblock %}