{% extends "base.html" %}

{% block body %}
<img src="/static/lightbulb.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

<img src="/static/lightbulb.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>
<img src="/static/puzzle.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

<img src="/static/puzzle.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>
        <h1>Solve the Puzzle</h1>

        <div class="text-center">

        
        <form method=post>
            {{ form.hidden_tag() }}
            <p>
                {{ form.name.label }} <br>
                {{ form.name(size=64) }}
                <!--List the errors for this field-->
                {% for error in form.name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                Add your comments here <br>
                {{ form.question(size=64) }}
                <!--List the errors for this field-->
                {% for error in form.question.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.tag.label }} <br>
                {{ form.tag(size=64) }}
                <!--List the errors for this field-->
                {% for error in form.tag.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
                {{form.submit()}}
             <p>
                <img src="/static/lightbulb.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
                <img src="/static/lightbulb.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>
                <img src="/static/puzzle.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
                <img src="/static/puzzle.png" class="rounded float-start" width = "200" hieght= "200" alt="...">




            
            </p>
        </form>
    </div>
       
{% endblock %}