{% extends 'base.html' %}

{% block body %}

{% if response %}
        {% if response.author == current_user %}
            <a data-toggle="tooltip" data-placement="top" title="Delete Puzzle" href="/response/delete/{{response.id}}">
                <img width="40" class="bottom-image" src="/static/delete.png"></a>
        {% endif %}

    <p class="fs-3 text-break">
        {% if response.author.image %}
        {% endif %}
            <h4>
            {{response.q1}}<br>
            {{response.a1}}<br><br>
            {{response.q2}}<br>
            {{response.a2}}<br><br>
            {{response.q3}}<br>
            {{response.a3}}<br>
            </h4>
            <h4>score: {{response.score}}</h4>    

    </p>
    <a href="/response/new" class="btn btn-primary btn-sm" role="button">New Puzzle</a>

  
{% else %}

{% endif %}

{% endblock %}