{% extends 'base.html' %}

{% block body %}

{% if response %}
        {% if response.author == current_user %}
            <a data-toggle="tooltip" data-placement="top" title="Delete Puzzle" href="/response/delete/{{response.id}}">
                <img width="40" class="bottom-image" src="/static/delete.png"></a>
        {% endif %}

    <p class="fs-3 text-break">
        {% if response.author.image %}
        {% endif %}
            <h4>
            {{response.q7}}<br>
            {{response.a7}}<br><br>
            {{response.q8}}<br>
            {{response.a8}}<br><br>
            {{response.q9}}<br>
            {{response.a9}}<br>
            </h4>
            <h4>score: {{response.score}}</h4>    

    </p>
    <a href="/puzzles" class="btn btn-primary btn-sm" role="button">More Puzzles</a>

  
{% else %}

{% endif %}

{% endblock %}