{% extends 'base.html' %}

{% block body %}
<img src="/static/puzzle.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
<img src="/static/puzzle.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>
<br><br>
<div class="row">
    <div class="col-4">
        <h1 class="display-1">Puzzles</h1>
    </div>
    <div class="col">
        <a href="/response/new" class="btn btn-primary btn-sm mt-5" role="button">Start Puzzle</a>
    </div>
</div>

{% if responses %}
    {% for response in responses %}
        <div class="row border-bottom">
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-5">Puzzle</h3>
                {% endif %}

                <a href="/response/{{response.id}}">
                    <p>Puzzle</p>

                </a>
            </div>
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-5">Score</h3>
                {% endif %}
                {{response.score}}
            </div>
        </div>
    {% endfor %}
{% else %}

{% endif %}

{% endblock %}